body {
  font-family: "Poppins";
}
p {
  font-size: 16px;
  color: #444343;
  line-height: 26px;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* TopHero section style start */
.topHero-section {
  height: 100vh;
  background: url(image/banner/banner1.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.customContainer {
  width: 1200px;
  margin: auto;
}
.topHero-cont {
  margin-left: auto;
  text-align: right;
  width: 500px;
}
.topHero-cont h1 {
  font-size: 65px;
  color: #333;
  line-height: 65px;
}
.topHero-cont p {
  margin-top: 25px;
  margin-bottom: 35px;
}
.mainBtn {
  padding: 15px 35px;
  font-weight: 600;
  background-color: #f15b22;
  color: #fff;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}
.mainBtn:hover {
  background-color: purple;
}
/* TopHero section style end */

/* aboutMe-section style start */
.aboutMe-section {
  padding: 100px 0;
}
.aboutMe-section .customContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutMe-section .aboutMe-img-box {
  width: 55%;
}
.aboutMe-section .aboutMe-cont {
  width: 40%;
}
.aboutMe-section .aboutMe-cont h4 {
  margin-bottom: 20px;
}
.aboutMe-cont span {
  font-style: italic;
  color: #f15b22;
}
.aboutMe-section .aboutMe-cont h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}
.aboutMe-desc {
  margin-bottom: 30px;
}
.aboutMe-section .aboutMe-info-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* aboutMe-section style end */

/* myPlan-section style start */
.myPlan-section {
  padding: 100px 0;
  background-color: #f8f8f8;
}
.myPlan-section h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
  color: #333;
}
.myPlan-section .myPlan-wrap {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.myPlan-section .myPlan-wrap .myPlan-item {
  text-align: center;
}
.myPlan-section .myPlan-wrap .myPlan-item h4 {
  font-size: 26px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* myPlan-section style end */

/* mindSet-section style start */
.mindSet-section {
  padding: 100px 0;
}
.mindSet-section .customContainer {
  background: url(image/watch.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}
.mindSet-section .mindSet-bg {
  background: linear-gradient(to right, #16bffd, #cb30667d);
  padding: 70px;
}
.mindSet-section h2 {
  font-size: 40px;
  font-weight: 700;
  color: #333;
  line-height: 56px;
  max-width: 400px;
  margin-bottom: 40px;
}
.mindSet-section a {
  display: inline-block;
  padding: 15px 35px;
  font-weight: 600;
  background-color: #fff;
  color: #f15b22;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}
/* mindSet-section style end */

/* ourTeam-section style start */
.ourTeam-section {
  padding: 100px 0;
  background-color: #f8f8f8;
}
.ourTeam-section h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
  color: #333;
}
.ourTeam-member-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.ourTeam-member-wrap .ourTeam-member {
  width: 26%;
}
.ourTeam-member img {
  width: 140px;
  height: 140px;
  border: 8px solid #fff;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 14px -1px rgba(0, 0, 0, 0.182);
}
.ourTeam-member h4 {
  font-size: 22px;
  font-weight: 700;
  color: #f15b22;
}
.ourTeam-member .ourTeam-member-job {
  font-weight: 600;
  margin-bottom: 20px;
}
/* ourTeam-section style end */

/* footer-section style start */
.footer-section {
  padding: 100px 0;
  background-color: black;
}
.footer-section p {
  color: #fff;
}
.footer-section .customContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-section .footer-left {
  width: 40%;
}
.footer-section .footer-right {
  width: 30%;
}
.footer-left h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 40px;
  margin-bottom: 30px;
}
.footer-contact-info {
  margin-top: 15px;
}
.footer-social-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}
.footer-social-info a img {
  border-radius: 50%;
}

.footer-right h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}
.footer-right input {
  width: 100%;
  height: 50px;
  border: 1px solid #fff;
  outline: none;
  background-color: transparent;
  border-radius: 8px;
  font-size: 20px;
  padding: 0 14px;
}
.footer-right form button {
  padding: 15px 35px;
  font-weight: 600;
  background-color: #fff;
  color: #f15b22;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-top: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
/* footer-section style emd */
